@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@layer base {
  body {
    @apply pt-10 my-0 mx-auto;
    /* max-width: 1440px; */
  }
  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .title-big {
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 148.8px */
  }
  .header-name {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header-link {
    color: #c4c4c4;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .footer-link {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 31px */
  }
  .card-content-container {
    @apply w-full h-full relative block pointer-events-none;
  }
  .card-content-container.open {
    @apply top-0 left-0 right-0 fixed overflow-hidden py-10;
    z-index: 1;
  }
  @media (max-width: 1024px) {
    .title-big {
      @apply text-8xl;
    }
    body {
      @apply pt-6;
    }
  }
  @media (max-width: 678px) {
    .title-big {
      @apply text-5xl;
    }
    body {
      @apply pt-4;
    }
  }
}

@layer components {
  .section-container {
    @apply px-20;
  }

  @media (max-width: 1024px) {
    .section-container {
      @apply px-10;
    }
  }
  @media (max-width: 678px) {
    .section-container {
      @apply px-6;
    }
  }
}
