@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* background-color: #fefcf7; */
  @apply bg-light-cream;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    /* background-color: #333d4b; */
  }
}
@layer base {
  body {
    @apply pt-10;
    /* cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiByPSIxMCIgZmlsbD0iI0U4QjA1OSIvPjwvc3ZnPg=="),
      auto; */
    scroll-behavior: smooth;
  }
  h2 {
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

@layer utilities {
  /* typography */
  /* Heading (2XL) */
  .heading-2xl {
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: 88px; /* 100% */
    letter-spacing: -2.5px;
  }

  /* Heading (XL) */
  .heading-xl {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
  }

  /* Heading (L) */
  .heading-l {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -1.5px;
  }

  /* Heading (M) */
  .heading-m {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
  }

  /* Body */
  .body {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }
  /* end typo */
  .text-balance {
    text-wrap: balance;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .projects-grid > :nth-child(1) {
    grid-column: span 5 / span 5;
  }
  .projects-grid > :nth-child(4) {
    grid-column: span 5 / span 5;
  }
  .projects-grid > :nth-child(2) {
    grid-column: span 7 / span 7;
  }
  .projects-grid > :nth-child(3) {
    grid-column: span 7 / span 7;
  }
  .projects-grid > :nth-child(5) {
    grid-column: span 5 / span 5;
  }
  .projects-grid > :nth-child(6) {
    grid-column: span 7 / span 7;
  }

  .title-big {
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 148.8px */
  }
  .header-name {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .header-links {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  .link-underline-effect::after {
    transition: all 0.1s ease-in-out;
    content: "";
    position: absolute;
    bottom: 6.5%;
    z-index: -1;
    height: 0.3em;
    width: 104%;
    left: -1%;
    background: linear-gradient(
      65deg,
      #9440e8 0%,
      #9440e8 100%,
      rgba(255, 209, 0, 0) 100%
    );
  }
  .link-underline-effect:hover::after {
    height: 1.15em;
  }
  .link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent),
      linear-gradient(#000, #000);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s ease-in-out;
  }

  .link-underline-selected {
    background-size: 100% 3px;
    background-position: 0 100%;
  }

  .footer-link {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%; /* 31px */
  }
  .card-content-container {
    @apply pointer-events-none relative block h-full w-full;
  }
  .card-content-container.open {
    @apply fixed left-0 right-0 top-0 overflow-hidden py-10;
    z-index: 10;
  }
  @media (max-width: 1024px) {
    .heading-2xl {
      font-size: 72px;
      line-height: 72px; /* 100% */
      letter-spacing: -2.045px;
    }
    .heading-xl {
      font-size: 64px;
      line-height: 64px; /* 100% */
      letter-spacing: -1.59px;
    }

    .title-big {
      @apply text-8xl;
    }

    body {
      @apply pt-6;
    }

    .card-content-container .open {
      @apply py-0;
    }

    .projects-grid {
      display: grid;
      grid-template-columns: unset;
    }
    .projects-grid > :nth-child(n) {
      grid-column: unset;
    }
    .header-name {
      font-size: 24px;
    }
  }
  @media (max-width: 678px) {
    .heading-2xl {
      font-size: 40px;
      line-height: 40px; /* 100% */
      letter-spacing: -1.136px;
    }
    .heading-xl {
      font-size: 32px;
      line-height: 32px; /* 100% */
      letter-spacing: -1.136px;
    }
    .heading-l {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 40px; /* 125% */
      letter-spacing: -1px;
    }
    .body {
      font-size: 16px;
      line-height: 26px;
    }
    .title-big {
      @apply text-5xl;
    }
    body {
      @apply pt-4;
    }
  }
}

@layer components {
  .section-container {
    @apply mx-auto my-0 px-20;
    max-width: 1440px;
  }

  @media (max-width: 1024px) {
    .section-container {
      @apply px-10;
    }
  }
  @media (max-width: 678px) {
    .section-container {
      @apply px-6;
    }
  }
}
